/* Import the "Muli" font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

/* Apply box-sizing to all elements */
* {
  box-sizing: border-box; /* to avoid width problems if padding */
}

/* Style the body */
body {
  font-family: "Muli", sans-serif; /* Use the "Muli" font as the default font */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Hide scrollbars to avoid visual disruption */
  margin: 0;
}

/* Create a container for the panels */
.container {
  display: flex;
  width: 90vw; /* Set the width of the container */
}

/* Style the individual panels */
.panel {
  background-size: auto 100%; /* Adjust the background size for each panel */
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh; /* Set the height of each panel */
  border-radius: 50px; /* Apply rounded corners */
  color: #fff; /* Set text color to white */
  cursor: pointer; /* Change cursor to pointer on hover */
  flex: 0.5; /* Set initial flex value for equal width */
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in; /* Transition effect for panel expansion */
  -webkit-transition: all 700ms ease-in; /* Webkit-specific transition */
}

/* Style the heading within each panel */
.panel h3 {
  font-size: 24px; /* Set font size for heading */
  position: absolute; /* Position the heading absolutely */
  bottom: 20px; /* Place the heading at the bottom */
  left: 20px; /* Place the heading at the left */
  margin: 0; /* Remove any margin */
  opacity: 0; /* Set initial opacity to 0 (hidden) */
}

/* Style for an active (expanded) panel */
.panel.active {
  flex: 5; /* Expand the width of the active panel */
}

/* Style for the heading of an active panel */
.panel.active h3 {
  opacity: 1; /* Make the heading visible */
  transition: opacity 0.3s ease-in 0.4s; /* Add transition effect */
}

/* Media query for screens with a maximum width of 480px */
@media (max-width: 480px) {
  /* Modify the container width for small screens */
  .container {
    width: 100vw;
  }

  /* Hide the fourth and fifth panels on small screens */
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
