body {
  margin: 0;
  overflow: hidden;
}

.parallax-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer-1 {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI4efFUDVzftzE2RTAeo88fKBw0jH6K6lTDQ&usqp=CAU")
    center/cover;
  z-index: -3;
}

.layer-2 {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqrwWqPCR535iykjmVKSyKv-e6Kw5P2yemHw&usqp=CAU")
    center/cover;
  z-index: -2;
}

.layer-3 {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHe7YnBdodHFnX9A78jKFFdyj3GoX_zZWOJg&usqp=CAU")
    center/cover;
  z-index: -1;
}
